/*

ff6tools.css
created 1/11/2018

*/

:root {
    --control-color-selected: hsl(210, 100%, 50%);
    --control-color-hover: hsl(210, 100%, 70%);
    --control-color-active: hsl(210, 100%, 40%);
    --list-color-hover: hsl(210, 100%, 90%);
    --list-color-selected: hsl(210, 100%, 50%);
    --list-color-active: hsl(210, 100%, 40%);
}

body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background-color: hsl(0, 0%, 95%);
}

/******************************************************************************/
/*                                   misc                                     */
/******************************************************************************/

.gutter.gutter-horizontal {
    cursor: ew-resize;
}

.gutter.gutter-vertical {
    cursor: ns-resize;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.no-select {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.background-gradient {
    background-color: #333;
    background-image:
    linear-gradient(45deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
    linear-gradient(135deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
    background-size: 16px 16px;
}

.icon-btn {
    background-color: transparent;
    border-radius: 5px;
    border-color: transparent;
    color: inherit;
    width: 36px;
    height: 36px;
    margin: 3px;
    font-size: 20px;
    cursor: default;
    outline: none;
    align-content: center;
}

.icon-btn.selected {
    background-color: var(--control-color-selected);
    color: hsl(0, 0%, 95%);
    transition: 0.2s;
}

.icon-btn:hover {
    background-color: var(--control-color-hover);
    color: white;
    transition: 0.2s;
}

.icon-btn:active {
    background-color: var(--control-color-active);
    color: hsl(0, 0%, 95%);
    transition: 0.2s;
}

/*  buttons in top bar don't get as dark when compressed
    because they are on a dark background */
#topbar .icon-btn:active {
    background-color: var(--list-color-selected);
}

.icon-btn:disabled {
    background-color: hsl(0, 0%, 40%);
    color: hsl(0, 0%, 80%);
}

.bold {
    font-weight: bold;
}

.two-state {
/*    float: left;*/
    display: inline-block;
    height: auto;
    padding: 2px 10px;
    margin: 4px 3px;
    border-radius: 5px;
    width: auto;
    font-size: 12px;
    color: black;
    transition: 0.2s;
    flex-shrink: 0;
}

.two-state.checked {
    background-color: var(--control-color-selected);
    color: white;
    transition: 0.2s;
}

.two-state:hover {
    background-color: var(--control-color-hover);
    color: white;
    transition: 0.2s;
}

.two-state:active {
    background-color: var(--control-color-active);
    color: hsl(0, 0%, 95%);
    transition: 0.2s;
}

.two-state input {
    display: none;
}

.two-state p {
    margin: 0px;
}

/******************************************************************************/
/*                                main window                                 */
/******************************************************************************/

#outer {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
}

#topbar {
    margin: 0px;
    padding: 0px;
    flex-shrink: 0;
    background: linear-gradient(to top, hsl(0, 0%, 30%), hsl(0, 0%, 40%));
    color: hsl(0, 0%, 95%);
}

#main {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: auto;
    flex: 2 1 auto;
}

/******************************************************************************/
/*                                 left pane                                  */
/******************************************************************************/

#left-pane {
    width: 256px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 256px;
    flex: 0 0 auto;
    overflow: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#left-pane.hidden {
    display: none;
}

.nav-list {
    background-color: white;
    margin: 0px;
    padding: 0px;
    overflow-y: visible;
    overflow-x: hidden;
    height: 100%;
    cursor: default;
}

.nav-category {
    padding: 0px;
    font-size: 14px;
    background-color: hsl(0, 0%, 95%);
    border-bottom: 1px solid hsl(0, 0%, 80%);
    color: black;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    cursor: default;
}

.nav-category > p {
    margin: 0px;
    padding: 6px 12px;
}

.nav-category.shown > p {
    border-bottom: 1px solid hsl(0, 0%, 80%);
}

.nav-category > p:hover {
    background-color: hsl(0, 0%, 90%);
}

.nav-category > p:active {
    background-color: hsl(0, 0%, 85%);
}

.nav-category > p:after {
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    float: right;
    content: "+";
}

.nav-category.shown > p:after {
    content: "−";
}

.nav-category > ul {
    list-style-type: none;
    display: none;
    margin-left: 0;
}

.nav-category.shown > ul {
    display: block;
}

.nav-array {
    padding: 0px;
    font-size: 12px;
    background-color: white;
    color: black;
    font-weight: normal;
    white-space: nowrap;
    cursor: default;
}

.nav-array > ul {
    list-style-type: none;
    display: none;
    margin-left: 0;
}

.nav-array.shown > ul {
    display: block;
}

.nav-array p {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1em;
    padding-right: 0px;
    margin: 0px;
}

.nav-array > p:hover {
    background-color: var(--list-color-hover);
}

.nav-array > p.selected {
    background-color: var(--list-color-selected);
    color: white;
    transition: 0.1s;
}

.nav-array > p:active {
    background-color: var(--list-color-active);
    color: hsl(0, 0%, 95%);
    transition: 0.1s;
}

.nav-array > p:before {
    display: inline-block;
    font-size: 12px;
    margin: 0px;
    width: 1em;
    content: "\25B8";
}

.nav-array.shown > p:before {
    content: "\25BE";
}

.nav-object {
    display: block;
    overflow-y: visible;
    overflow-x: hidden;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1em;
    padding-right: 0px;
    font-size: 12px;
    background-color: white;
    color: black;
    font-weight: normal;
    white-space: nowrap;
    cursor: default;
}

.nav-object:hover {
    background-color: var(--list-color-hover);
}

.nav-object.selected {
    background-color: var(--list-color-selected);
    color: white;
    transition: 0.1s;
}

.nav-object:active {
    background-color: var(--list-color-active);
    color: hsl(0, 0%, 95%);
    transition: 0.1s;
}

.nav-object p {
    display: block;
    margin: 0px 1em;
    padding: 0px;
    overflow-x: hidden;
}

.nav-object-index {
    display: block;
    width: 2em;
    height: 100%;
    float: left;
    text-align: right;
    padding-right: 0.5em;
}

.nav-object-index.hex2 {
    width: 2.5em;
    text-align: left;
}

.nav-object-index.hex4 {
    width: 3.5em;
    text-align: left;
}

.nav-object-index.hex6 {
    width: 4.5em;
    text-align: left;
}

.nav-object-index.hex8 {
    width: 5.5em;
    text-align: left;
}

/******************************************************************************/
/*                             center pane: edit                              */
/******************************************************************************/

#center-pane {
    margin: 0px;
    padding: 0px;
    align-items: stretch;
    align-content: stretch;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 2 1 auto;
    width: 0;
    overflow: hidden;
}

#edit-top {
    flex: 1 0 auto;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
}

#edit-controls {
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0 0 auto;
    height: auto;
    min-height: 27px;
    background: linear-gradient(#fff,#ddd);
    border-bottom: 1px solid #ccc;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex-wrap: wrap;
}

#edit-controls.hidden {
    display: none;
}

#edit-controls input {
/*    float: left;*/
}

#zoom {
    order: 98;
    margin: 4px 3px;
}

#zoom-value {
    order: 97;
    margin: 2px 0px;
    padding: 4px 3px;
    margin-left: auto;
    font-size: 12px;
}

#coordinates {
    order: 99;
    margin: 2px 0px;
    padding: 4px 3px;
    width: 72px;
    font-size: 12px;
    text-align: center;
}

#map-edit {
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
}

#battle-edit {
    width: 100%;
    height: 100%;
    position: relative;
}

#chart-edit {
    background-color: hsl(0, 0%, 95%);
}

#edit-div {
/*    overflow: auto;*/
    position: relative;
    flex: 1 0 auto;
    width: 100%;
    height: 0;
}

#map {
    z-index: 1;
    position: absolute;
    pointer-events: none;
}

#map-mask {
    z-index: 3;
    position: absolute;
    pointer-events: none;
}

#map-screen {
    z-index: 4;
    position: absolute;
    pointer-events: none;
}

#map-cursor {
    z-index: 5;
    position: absolute;
    pointer-events: none;
}

#map-cursor.hidden {
    display: none;
}

/******************************************************************************/
/*                            center pane: script                             */
/******************************************************************************/

#edit-bottom {
    margin: 0px;
    padding: 0px;
    display: flex;
    overflow: auto;
    height: 100%;
    min-height: 44px;
    flex: 1;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
}

#edit-bottom.hidden {
    display: none;
}

#script-bar {
    flex: 0;
    background: linear-gradient(#fff,#ddd);
    border-bottom: 1px solid #ccc;
}

#script-div {
    display: block;
    flex: 1;
    overflow-y: auto;
    margin: 0px;
    padding: 0px;
    background-color: white;
}

#script-list {
    background-color: white;
    margin: 0px;
    padding: 0px;
}

#script-list li {
    font-size: 12px;
    list-style: none;
    cursor: default;
    overflow-x: hidden;
    white-space: nowrap;
    padding: 1px 4px;
    margin: 0px;
}

#script-list p {
    margin: 0px;
    float: left;
    width: 75%;
    user-select: none;
}

#script-list li:hover {
    background-color: var(--list-color-hover);
}

#script-list li.selected {
    background-color: var(--list-color-selected);
    color: white;
    transition: 0.1s;
}

#script-list li:active {
    background-color: var(--list-color-active);
    color: hsl(0, 0%, 95%);
    transition: 0.1s;
}

.script-spacer {
    margin: 0px;
    padding: 0px;
}

.script-offset {
    display: inline-block;
    width: 25%;
    overflow-x: hidden;
    float: left;
    clear: left;
    user-select: none;
}

/******************************************************************************/
/*                             right pane: toolbox                            */
/******************************************************************************/

#right-pane {
    margin: 0px 0px;
    padding: 0px 0px;
    min-width: 256px;
    position: relative;
    flex: 0 0 auto;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: flex-start;
    justify-content: flex-start;
}

#right-pane.hidden {
    display: none;
}

#right-pane-top {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    min-height: 28px;
    max-height: 28px; /* override with max height when visible */
    overflow: hidden;
}

#toolbox {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
}

#toolbox.hidden {
    display: none;
}

#toolbox-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: stretch;
    flex: 0 0 auto;
    background: linear-gradient(#fff,#ddd);
}

#toolbox-bar.hidden {
    display: none;
}

#toolbox-bar button {
    background-color: inherit;
    flex: 1;
    border: none;
    outline: none;
    padding: 6px 2px;
    margin: 0px 0px;
    font-size: 14px;
    transition: 0.2s;
}

#toolbox-bar button.selected {
    background-color: var(--control-color-selected);
    color: white;
    transition: 0.2s;
}

#toolbox-bar button:hover {
    background-color: var(--control-color-hover);
    color: white;
    transition: 0.2s;
}

#toolbox-bar button:active {
    background-color: var(--control-color-active);
    color: hsl(0, 0%, 95%);
    transition: 0.2s;
}

#toolbox-bar button:disabled {
    background-color: inherit;
    color: gray;
    transition: 0.2s;
}

.tileset-canvas {
    z-index: 1;
    position: absolute;
}

.tileset-canvas.hidden {
    display: none;
}

#tile-div {
    /* this is only used by ff4map-gba */
    font-size: 12px;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}

.cursor-canvas {
    pointer-events: none;
    z-index: 2;
    position: absolute;
}

.cursor-canvas.hidden {
    display: none;
}

.palette-div {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
}

#toolbox .graphics-div {
    flex: 0 0 auto;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}

.graphics-canvas-div {
    flex: 0 0 auto;
    position: relative;
    overflow: hidden;
}

.graphics-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px;
    height: auto;
    background: linear-gradient(#fff,#ddd);
    border-bottom: 1px solid #ccc;
    font-size: 12px;
}

/******************************************************************************/
/*                           right pane: properties                           */
/******************************************************************************/

#right-pane-bottom {
    flex: 1 1 0;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 50px;
}

#properties {
    font-size: 12px;
    overflow-y: auto;
    overflow-x: hidden;
    height: auto;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#properties-bar {
    display: none;
    flex: 0;
    background: linear-gradient(#fff,#ddd);
    border-bottom: 1px solid #ccc;
}

.property-heading {
    padding: 0px 4px;
    margin: 0px 0px;
/*    border-bottom: 1px solid #ccc;*/
    flex: 1 1 auto;
}

.property-heading p {
    padding: 4px 0px;
    margin: 0px 0px;
    font-weight: bold;
    font-size: 12px;
}

.property-heading select {
    padding: 0px;
    margin-top: 4px;
    width: 100%;
    font-size: 12px;
}

.property-category {
    padding: 0px;
    margin: 0px 4px;
    border-top: 1px solid #ccc;
    flex: 1 1 0;
}

.property-category p {
    padding: 0px;
    margin: 4px 0px;
    font-weight: bold;
}

.property-div {
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 4px 4px;
    align-items: baseline;
}

.property-div > button {
    font-size: 12px;
}

.property-label {
    text-align: right;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: auto;
    padding-right: 1px;
    margin: 0px;
}

.property-control-div {
    width: 100%;
    margin: 0px 4px;
    flex: 1 1 0;
}

.property-control {
    width: 100%;
    margin: 0px 0px;
    padding: 0px 0px;
    font-size: 12px;
}

.property-text {
    font-family: monospace;
    font-size: 12px;
}

.property-textarea {
    font-family: monospace;
    font-size: 12px;
    overflow-y: visible;
    vertical-align: middle;
    resize: vertical;
}

.property-check-div {
    padding-top: 4px;
}

.property-check {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    position: relative;
    top: -1px;
    vertical-align: bottom;
}

.property-check-label {
    padding-left: 4px;
}

/******************************************************************************/
/*                                    menu                                    */
/******************************************************************************/

.menu {
    display: none;
    position: absolute;
    z-index: 10;
    padding: 5px 0px;
    margin: 0px;
    border-radius: 5px;
    width: auto;
    background-color: hsl(0, 0%, 95%);
    box-shadow: 2px 2px 4px #666;
    list-style-type: none;
}

.menu-item:hover > .menu-submenu {
    display: block;
}

.menu-active {
    display: inline-block;
}

.menu-submenu {
    left: 90px;
    top: -5px;
    height: auto;
}

.menu-item {
    display: block;
    position: relative;
    background-color: hsl(0, 0%, 95%);
    color: black;
    width: auto;
    font-size: 12px;
    list-style: none;
    white-space: nowrap;
    padding: 2px 20px;
    cursor: default;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu-item:hover {
    background-color: var(--control-color-selected);
    color: white;
}

.menu-item:active {
    background-color: var(--control-color-active);
    color: hsl(0, 0%, 95%);
}

.menu-item-disabled {
    background-color: hsl(0, 0%, 95%);
    color: gray;
}

.menu-item.selected {
    padding-left: 6px;
}

.menu-item.selected:before {
    position: relative;
    display: inline-block;
    width: 14px;
    content: "✓";
}

/******************************************************************************/
/*                                   modal                                    */
/******************************************************************************/

#modal {
    display: none;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: fixed;
    z-index: 11;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: rgba(0,0,0,0.4);
}

#modal-window {
    background-color: hsl(0, 0%, 95%);
    position: absolute;
    top: 10%;
    padding: 10px 20px;
    border-radius: 5px;
    width: 60%;
    height: auto;
}

#modal-title {
    margin: 6px 0px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

#modal-content {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
}

#modal-content > button {
    margin: 6px;
}

#modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#modal-close:hover,
#modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-list {
    background-color: white;
    border: 1px solid #ccc;
    padding: 0;
}

.modal-list li {
    color: black;
    list-style: none;
    cursor: default;
    padding: 1px 0px 1px 4px;
}

.modal-list li:hover {
    background-color: var(--list-color-hover);
}

.modal-list li:active {
    background-color: var(--list-color-active);
    color: hsl(0, 0%, 95%);
    transition: 0.1s;
}

.modal-div {
    margin: 6px;
}

.expand-div {
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

.expand-div label {
    font-size: 12px;
}

.import-preview .graphics-div {
    height: auto;
    width: 100%;
}

.import-preview {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0px;
}
